<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>229909866496-604umg0mjil3jou0anmetaft68e5kg1e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.229909866496-604umg0mjil3jou0anmetaft68e5kg1e</string>
	<key>API_KEY</key>
	<string>AIzaSyAZlXSRqQ9X-L_SuytAiKctPYNJA6MQbpY</string>
	<key>GCM_SENDER_ID</key>
	<string>229909866496</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.carnawashapp.driver</string>
	<key>PROJECT_ID</key>
	<string>carnawashapp-1576115536680</string>
	<key>STORAGE_BUCKET</key>
	<string>carnawashapp-1576115536680.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:229909866496:ios:dc0613f62f4c64f90590e5</string>
	<key>DATABASE_URL</key>
	<string>https://carnawashapp-1576115536680.firebaseio.com</string>
</dict>
</plist>